.about {
  display: flex;
  justify-content: center;
  margin: 150px 70px 40px 70px;
  padding: 1vh;
  border-radius: .5rem;
  background-color: $grey2;
  max-width: 60rem;
  p {
    font-family: $font-2;
    font-size: 1rem;
  a {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
   }
  }
}
