.about-container {
  display: flex;
  justify-content: center;
  margin: 170px 0px 60px 0px; 
}

.about {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 1vh 7vw;
  border-radius: .3rem;
  max-width: 45vw;
  p {
    font-family: $font-2;
    font-size: 1.1rem;
  a {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
   }
  }
}
