.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 90px;
  margin-left: 110px;
  padding-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px;
    overflow: hidden;
    border-radius: 1%;
    height: 300px;
    width: 250px;
    box-shadow: 0 5px 5px 0 $grey, 2px 0 2px 0 $grey;
    list-style-type: none;
    border-top: 2px solid;
    border-image: linear-gradient( 90deg, #e8751a, #f8da5b, #f8da5b, #e8751a)2;

    &:hover {
      transition: 0.3s;
      transform: scale(1.25);
      z-index: 2;
    }
    li {
      list-style-type: none;
    }
    img .card-game {
      object-fit: cover;
    }
}
img {
  text-align: center;
  object-fit: contain;
  height: 120px;
  width: 120px;
}
