.contact-form {
    display: flex;
    justify-content: center;
}
.form-container {
    padding: 60px 8vw;
    background-color: $grey2;
    border-radius: .5rem;
    max-width: 45vw;
    form {
    display: flex;
    flex-direction: column;
    font-family: $font-2;
    font-size: 1.1rem;
    }
    h1 {
        padding-top: 0px;
        padding-bottom: 30px;
        margin: 0px;
        text-align: center;
        font-family: $font-2;
    }
    input {
        padding: 5px;
        margin: 25px 10px 5px 10px;
        width: 18vw;
        font-size: 1.1rem;
        font-family: $font-2;
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        border-bottom: .1vw solid black;
        background-color: $grey2;
    }
    input:focus {
        outline: none;
    }
    textarea {
        padding: 5px;
        margin: 5px 10px;
        width: 40vw;
        font-size: 1.1rem;
        font-family: $font-2;
        resize: none;
        border-radius: .1rem;
    }
    textarea:focus {
        outline: none;
    }
    .subject {
        padding: 5px;
        margin: 5px 10px;
        width: 40vw;
        border-radius: .1rem;
    }
    .form-button {
        margin: 15px 10px;
        width: 15vw;
        padding: 5px;
        font-size: 1.1rem;
        font-family: $font-2;
        align-self: center;
        border: 1px solid black;
        border-radius: .3rem;
    }
    .form-button:hover {
        background-color: #5c636e;
        color: white;
    }
    .form-line-1 {
        display: flex;
        justify-content: space-between;
    }
}
.input-container {
    display: flex;
    flex-direction: column;
}

.error-message {
    font-size: .9rem;
    color: $red;
    margin: 5px 0px 20px 10px;
    padding: 5px;
}
