.header-container {
  margin-bottom: 0px;
  padding-bottom: 0px;
  top: 0;
  position: fixed;
  margin-top: 0;
  width: 100%;
  z-index: 1;
}
.line {
  display: flex;
  color: white;
  background-color: $black;
  height: 7vh;
  max-height: 40px;
  align-items: center;
  font-size: 1.4rem;
  line-height: 0px;
  padding: 2px 15px;
}

.header {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.navigation {
  margin-top: 0px;
  margin-left: 0px;
  padding: 10px 15px;
  height: 45px;
  display: flex;
  background-color: white;
  width: 100%;
  a {
    color: $black;
    font-family: $font-3;
    font-size: 1.6rem;
    margin-right: 50px;
    position: relative;
    text-decoration: none;
    &::after {
      content:"";
      width: 0%;
      height: 2px;
      background: $yellow;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
    }
  }
  .nav-active {
    &::after {
      content:"";
      width: 90%;
      height: 2px;
      background: $yellow;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
    }
  }
  a:hover::after {
        content:"";
        width: 90%;
        height: 2px;
        background: $yellow;
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 2px;
        transition: 0.5s ease all;
  }
}

.logo {
img {
  padding: 10px 15px;
  margin: 0px;
  width: 70px;
  height: 45px;
  background-color: white;
}
}

@media screen and (max-width: 1300px) {
  .navigation {
    font-size: 1.8rem;
  }
}