.header {
  display: flex;
}

.navigation {
  margin-top: 10px;
  margin-left: 30px;
  padding: 50px;
  display: flex;
  font-size: 2rem;
  a {
    color: $black;
    margin-right: 50px;
    position: relative;
    text-decoration: none;
    &::after {
      content:"";
      width: 0%;
      height: 4px;
      background: $yellow;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
    }
  }
  .nav-active {
    &::after {
      content:"";
      width: 90%;
      height: 4px;
      background: $yellow;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
    }
  }
  a:hover::after {
        content:"";
        width: 90%;
        height: 4px;
        background: $yellow;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 2px;
        transition: 0.5s ease all;
  }
}

.logo {
img {
  padding: 15px;
  margin-top: 17px;
  margin-left: 20px;
  width: 90px;
  height: 90px;
}
}

@media screen and (max-width: 1300px) {
  .navigation {
    font-size: 1.8rem;
  }
}