@import url("//fonts.googleapis.com/css?family=Oswald");

$font-1: Oswald, 'Noto sans', sans-serif;

$white: #f7f7f7;
$black: black;
$yellow: #f5b553;
$blue: #63aebb;
$grey: #5c636e;


body {
  font-size: 20px;
  margin: 0;
  font-family: $font-1;
  background-color: $white;
  color: $black;
  box-sizing: border-box;
}


